.main-head {
  width: 95%;
  margin: 0 0 0 auto;
}
nav {
  @include flex(space-between, center, row);
  min-height: 10vh;
  width: 60%;
  flex-wrap: wrap;

  .logo {
    @include flex(flex-start, center, row);
    flex: 1 1 10rem;
    h1 {
      margin: 2rem;
    }
  }
  ul {
    @include flex(space-around, center, row);
    flex: 1 1 40rem;
  }
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  @include flex(space-between, center, row);

  h2 {
    font-size: 7rem;
    padding-top: 2rem;
    background: linear-gradient(#c638d3, #d6922b);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  background-clip: text;
    
  }
  h3 {
    font-size: 5rem;
    padding: 2rem 0rem;
  }
  p {
    padding-top: 2rem;
    color: $gradient;
  }
}

.splash {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  z-index: -1;
}

.intro-social {
  margin-top: 4rem;
  a {
    margin-right: 5rem;
  }
}

.active {
  background: $gray-text;
  color: white;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.intro-text,
.intro-images {
  flex: 1 1 40rem;
}

#flame {
  animation: vector_58 1.5s infinite alternate-reverse;
}

@keyframes vector_58 {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-10%);
  }
}
#Vector_29 {
  animation: Vector_29 1s ease infinite alternate-reverse;
}

@keyframes Vector_29 {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-5%);
  }
}

#Vector_27 {
  animation: Vector_27 1s ease infinite alternate-reverse;
}

@keyframes Vector_27 {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-5%);
  }
}

#Vector_28 {
  animation: Vector_28 1s ease infinite alternate-reverse;
}
@keyframes Vector_28 {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-5%);
  }
}

#me {
  animation: me 1.5s ease-in-out infinite alternate-reverse;
  transform-origin: bottom;
}

@keyframes me {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
